# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

logs
script
assets/img/old
assets/img/images
assets/img/source
assets/img/gui/scroll
assets/img/gui/status
assets/img/gui/userInfo
assets/img/danges
node_modules/*
dist/



